/* shared common styles */
body {
    font-family: "Work Sans", serif;
    margin: 0px;
    padding: 0px;
}

.btn-primary {
    background: #FFFFFF;
    border: none;
    color: #005FAC;
    padding: 20px 35px;
}

/* main related styles */
main {
    max-width: 1140px;
    margin: 0 auto;
    border: 3px solid tomato;


}

main section {
    margin: 130px auto;
    /* border: 1px solid red; */
}

/* header related styles */
.header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 200px;
}

.header-container {
    max-width: 525px;
    text-align: right;
}

.header-title {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 85px;
}

.header-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

/* failure related styles */
.failure-container {
    display: flex;
    gap: 80px;
    align-items: center;


}

.failure-container img {
    width: 570px;
}

.failure-content {
    max-width: 416px;
}

.failure-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0px;

}

.failure-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
}

/* my plans related styles */
.section-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.habits-container {
    display: flex;
    justify-content: space-around;
}
.habits img{
    width: 92px;
    text-align: center;
    padding-left: 50px;
}
.habits-title{
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.habits-description{
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    text-align: center;

}
/* mindset related styles */
.mindset{
    background-image: url('../images/gradient1.png'),url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px 30px 30px;
    border-radius: 8px;
}
.mindset-container{
    max-width: 294px;
    /* padding mindset or ekhane? */
}
.mindset-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}